asgiref==3.5.2
boto3==1.24.17
botocore==1.27.17
distlib==0.3.5
Django==4.0.5
django-appconf==1.0.5
django-ckeditor==6.4.2
django-cleanup==6.0.0
django-imagekit==4.1.0
django-js-asset==2.0.0
django-storages==1.12.3
filelock==3.7.1
gunicorn==20.1.0
jmespath==1.0.1
minify_html==0.9.2
pilkit==2.0
Pillow==9.1.1
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-dotenv==0.20.0
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.15.1
